nav{
    grid-area: nav;
    /* align-self: start; */
    position: fixed;   
    overflow: hidden;
}
.topnav{
    list-style-type: none;
    float: left;
    display: inline;
    margin: 0em;
    padding: 0;
    background-color: rgb(43, 196, 162);
    width: 100%;
}
.navelement{
    float:left; 
    
}
.navelement a {
    display: block;
    color: #353333f5;
    text-align: center;
    padding: 14px 40px 14px;
    text-decoration: none;
    font-size: 1.5em;
    
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

body {
    display: grid;
    grid-template-areas: 'nav' 'header' 'aboutme' 'skills' 'education' 'contactme' ;
    column-gap: 5px;
    row-gap: 5px;
    font-size: medium;
    object-fit: cover;
    background-color: rgb(182, 240, 242);
    
}

.header {
    object-fit: cover;
    grid-area: header;
    margin-top: 100px;
    padding-top: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border: 2px solid rgb(38, 173, 207);
    font-size: 20px;
    vertical-align: bottom;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

.about-me{
    grid-area: aboutme;
    padding: 40px;
    border: 2px solid rgb(38, 173, 207);
    font-family: 'Noto Sans JP', sans-serif;
}

.skills {
    grid-area:skills;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid rgb(38, 173, 207);
    padding: 40px;
    padding-top: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    
}
.skill-element-head{
    grid-column: 1 / 5;
}
.skill-element{
    border: 3px solid rgb(182, 240, 242); 
    background-color: rgb(93, 210, 240);
    text-align: center;
    padding: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
    
    
}
.education {
    grid-area: education;
    padding: 40px;
    border: 2px solid rgb(38, 173, 207);
    font-family: 'Noto Sans JP', sans-serif;
}

.contact-me {
    grid-area: contactme;
    padding: 40px;
    border: 2px;
    border: 2px solid rgb(38, 173, 207);
    font-family: 'Noto Sans JP', sans-serif;
}


.selfie-picture {
    grid-area: picture;
    width: 110px;
    height: auto;
    padding: 15px;
    float: right;
    border: 2px solid rgb(38, 173, 207);
    font-family: 'Noto Sans JP', sans-serif;
    
}
